#cart-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    top:50px;
    position:absolute;
    left:0;
    right:0;
    height: auto;
    border: solid 1px;
}
#cart-table{
    margin: 20px 0 0 0;
    width: 70%;
    height: 500px;
    border: solid 1px;
}
#cart-total{
    margin: 20px 0 0 0;
    width: 30%;
    height: 500px;
    border: solid 1px;
}
table{
margin: auto auto;
}
img{
    height: 50px;
    width: 50px;
}