*{
    box-sizing: border-box;
}
#cart-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    top:50px;
    position:absolute;
    left:0;
    right:0;
    height: auto;
}
#cart-table{
    margin: 20px 0;
    width: 70%;
    height: auto;
}
table{
margin: 20px 0px 0 50px;
width: 90%;
border-collapse: collapse;
}
th{
  padding: 10px 0 20px 10px;
  border-bottom: solid 1px;
  border-color: #ccc;
  color: black;
  text-align: left;
  font-size: large;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
td {
    padding: 20px 0 220px 10px;
    border-bottom: solid 1px;
    text-align: left;
    border-color: #eee;
  }
#item-image{
    margin: 20px 0;
    height: 120px;
    width: 120px;
}
#item-name{
    display: flex;
    flex-direction: row;
    float: none;
    margin: -135px 10px 50px 140px;
}
#item{
    padding: 0 0 20px 40px;
}
#product-image{
    padding: 0px 0 170px 20px;
}
#product-quantity{
    padding: 10px 0 210px 20px;
}
#product-total-price{ 
  display:flex;
  flex-direction: column ;
    padding: 30px 0 20px 15px;
}
.delete-button{
    margin: 170px 0px 0px 0px;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #d7543a;
    color: #fff;
    cursor: pointer;
  }
select{
    width: 40px;
    height: 25px;
}
#update-cart{
    margin: 20px 55px 20px 0;
    float: right;
    background-color: white;
    padding: 10px;
    width: 20%;
    height: 55px;
    border: solid 1px;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    border: solid 1px;
    color: #000000;
    cursor:
     pointer;
}
#cart-total{
    position: fixed;
    right: 0;
    margin: 40px 10px 0 0;
    width: 29%;
    height: fit-content;
    background-color: #f4f4f4;
    padding: 20px 60px;
}
#cart-total-heading{
    font-size: 2.4rem;
    font-weight: 400;
}
#sub-total{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 0;
    justify-content: space-between;
}
hr{
    width: auto;
}
#order-total{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 0;
    justify-content: space-between;
}
#order-total-title,#order-total-value{
    font-size: 20;
    font-weight: 600;
}
#proceed-to-checkout-button{
    margin: 60px 20% 20px 20%;
    background-color: #1979c3;
    padding: 10px;
    width: 70%;
    height: 60px;
    border: solid 1px;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    border: solid 1px;
    color: #fff;
    cursor: pointer;
}
