.container {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
}
.banner {
  height: 700px;
  padding: 330px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  background-image: url("../../View/images/gym3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
h1 {
  text-align: center;
  margin: 100px 0 50px;
}
.description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.description-box {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}
.description-image {
  margin: 20px 25px;
  height: 200px;
  width: 250px;
}
.feature{
  border: solid 1px;
  margin: 100px 0;
  height: 100px;
  padding: 20px 0px;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}